BODY
{	
margin:0px;
    	padding:0px;
    	font-size:12px;
    	font-family:Arial,宋体,Helvetica, sans-serif;
	SCROLLBAR-FACE-COLOR: #006F93;
	SCROLLBAR-HIGHLIGHT-COLOR: #0099CC;
	SCROLLBAR-SHADOW-COLOR: #006F93;
	SCROLLBAR-3DLIGHT-COLOR: #006F93;
	SCROLLBAR-ARROW-COLOR: #006F93;
	SCROLLBAR-TRACK-COLOR: #0099CC;
	SCROLLBAR-DARKSHADOW-COLOR: #0099CC;	
}